@import url('https://fonts.googleapis.com/css?family=Special+Elite:regular,bold,italic&subset=latin,latin-ext');

@font-face {
  font-family: 'linkedin-font';
  src: url('./assets/MyriadPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'typewriter';
  src: url('./assets/TravelingTypewriter.ttf') format('truetype');
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes rollout {
  0% {
    transform: translateY(0) rotateX(50deg);
  }
  90% {
    transform: translateY(30px) rotateX(50deg);
  }
  100% {
    transform: translateY(0) rotateX(50deg);
  }
}

.roll-out {
  animation: rollout;
}

.keyboard-top-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: rgb(240, 235, 224);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.keyboard-bottom-circle {
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: rgb(240, 235, 224);
}
.keyboard-rect {
  position: absolute;
  top: 20px;
  width: 40px;
  height: 20px;
  border: 1px solid black;
  border-bottom: none;
  background-color: rgb(240, 235, 224);
}

.keyboard-key {
  width: 55px;
  height: 40px;
  transform: rotateX(50deg);
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 5px;
}

.keyboard-area {
  position: absolute;
  top: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Courier New', Courier, monospace;
}

.typed-paper {
  position: absolute;
  bottom: 50%;
  width: 500px;

  /* display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center; */

  font-family: 'typewriter';
  /* font-family: 'Special Elite'; */
  /* font-family: 'Courier New', Courier, monospace; */

  display: inline-block;

  border: 1px solid black;
  border-bottom: none;
  padding: 30px 30px 5px 30px;
  background-color: rgb(242, 241, 238);

  text-wrap: wrap;
  white-space: pre-line;

  font-size: 20px;

  line-height: 1.4;
}

/* textual animation */
@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.glowing-text {
  padding-right: 4px; /*prevent cutoff*/
  background: linear-gradient(45deg, blue, red);
  -webkit-background-clip: text;
  color: transparent;
  animation: glow 1s ease-in-out infinite;
}
