@import url('https://fonts.googleapis.com/css?family=Special+Elite:regular,bold,italic&subset=latin,latin-ext');

@font-face {
  font-family: 'linkedin-font';
  src: url('./assets/MyriadPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'typewriter';
  src: url('./assets/TravelingTypewriter.ttf') format('truetype');
}

:root {
  --beige-pastel: rgb(242, 241, 238);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.active-prompt {
  z-index: 99999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-prompt__text {
  padding-bottom: 350px;
  font-size: 30px;
  color: var(--beige-pastel);
  font-family: 'Special Elite';
  line-height: 150%;
  width: 400px;
  text-align: center;
}

.skip-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Special Elite';
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 5px;
}

.keyboard-area {
  position: absolute;
  top: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Courier New', Courier, monospace;
}

.typed-paper {
  z-index: 1000;
  position: absolute;
  bottom: 50%;
  width: 500px;

  /* font-family: 'typewriter'; */
  font-family: 'Special Elite';
  /* font-family: 'Courier New', Courier, monospace; */

  display: inline-block;

  border: 1px solid black;
  border-bottom: none;
  padding: 30px 30px 5px 30px;
  background-color: var(--beige-pastel);
  /* background-image: url('https://img.freepik.com/free-photo/white-paper-texture-background_23-2151025702.jpg'); */

  text-wrap: wrap;
  white-space: pre-line;

  font-size: 20px;

  line-height: 1.4;
}

/* textual animation */
@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.glowing-text {
  padding-right: 4px; /*prevent cutoff*/
  background: linear-gradient(45deg, blue, red);
  -webkit-background-clip: text;
  color: transparent;
  animation: glow 1s ease-in-out infinite;
}
